/reading/
/cd/
.cache/

# tex
*.aux
*.pdf
*.log
*.lbr
*.ref
*.bak
!ctulogo*.pdf
.aspell.en.prepl
personal-word-list.txt

# notebooks
.ipynb_checkpoints
venv/
data.hdf5
__pycache__/
/notebooks/data/ondrejov/
*candidates.csv
ondrejov-fits.tar.xz
