reading/
.cache/

# tex
bt-podsztavek.lbr
bt-podsztavek.log
bt-podsztavek.pdf
bt-podsztavek.ref
ctustyle-doc.pdf

# notebooks
.ipynb_checkpoints
venv/
data.hdf5
__pycache__/
/notebooks/data/ondrejov/
*candidates.csv
ondrejov-fits.tar.xz
